:root{
    --theme-white:#ffffff;
    --theme-color1: #eb5202;
    --theme-color1-lighter: #fd7128;
    --theme-color1-darker: #b33f02;
    --theme-silver-lighter:#cfcfcf;
}

::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-thumb:hover {background:var(--theme-color1-lighter);}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px silver; border-radius: 4px;}
::-webkit-scrollbar-thumb {background:var(--theme-color1-lighter); border-radius: 4px;}

.btn-round {border-radius:100px;}
html, body {padding:0px; margin:0px;}
.main-page .container-fluid {max-width:600px;}
.img-profile img {max-width:120px; border:2px solid white;}
body {background:url('../media/fondos/magento_wallpaper.jpg'); background-size: cover; background-attachment: fixed; background-color:var(--theme-color1-lighter);}
body.outside {overflow:hidden;}


.content-aside {display:none; z-index: 10; position: fixed; top: 0px; left: 0px; height: 100vh; width:100%; background: white; overflow:auto; animation: 0.5s;}
.content-aside.active {animation: 0.5s;}

.btn-gdw-base {background-color:var(--theme-color1-lighter); border:1px solid var(--theme-color1);}
.btn-gdw-base:hover, .btn-gdw-base:active, .btn-gdw-base:focus {background-color:var(--theme-color1) !important; border:1px solid var(--theme-color1) !important;}
.btn-gdw-white {background-color:var(--theme-white); border:1px solid var(--theme-silver-lighter);}
.btn-gdw-white:hover, .btn-gdw-white:active, .btn-gdw-white:focus {background-color:var(--theme-white) !important; border:1px solid var(--theme-silver-lighter) !important;}

.media.d-grid > a {display: flex; justify-content: space-between; line-height: 100%; padding:10px; transform 0.2s;}
.media.d-grid > a:hover {transform: scale(1.02);transition: transform 0.2s;}
.close a {color:var(--theme-color1-lighter);}
.content-aside .fa-magento {color:var(--theme-color1-lighter);}

.btn-outline-magento {
    --bs-btn-color: #fd7128;
    --bs-btn-border-color: #fd7128;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd7128;
    --bs-btn-hover-border-color: #fd7128;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd7128;
    --bs-btn-active-border-color: #fd7128;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd7128;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fd7128;
    --bs-gradient: none;
}
