---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
  Desarrollador con amplia experiencia en la creación, personalización y mantenimiento de plataformas de comercio electrónico basadas en Magento 2. Competente en el desarrollo de módulos personalizados y la implementación de funcionalidades avanzadas para optimizar la experiencia de usuario y mejorar la eficiencia operativa de las tiendas en línea. Experto en migraciones de Magento 1 a Magento 2, garantizando una transición fluida y sin interrupciones que incluye la planificación, transferencia de datos y ajuste de extensiones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Licencuatura en Ingeniería Computacional"
      subtitle="2024, Acuerdo Número 02/04/17 por el que se modifica el diverso número 286"
    />
    <TimeLineElement
      title="Preparatoria Propedéutica"
      subtitle="2017, Preparatoria Anexa a la Norma 4 de Nezahualcóyotl"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-0">
    <TimeLineElement
      title="Technical Lead, Fullstack Magento 2"
      subtitle="De Noviembre 2021 a Actual en Inova México, CDMX"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2 text-sm">
      <li>Lideré el desarrollo y mantenimiento de plataformas de comercio electrónico basadas en Magento 2, optimizando la arquitectura para garantizar la escalabilidad y un rendimiento superior.</li>
      <li>Coordiné un equipo de desarrolladores, guiando la implementación de mejores prácticas y asegurando la calidad del código y el cumplimiento de los plazos.</li>
      <li>Diseñé e implementé módulos personalizados de Magento 2, adaptados a los requerimientos específicos del proyecto y que mejoraron la funcionalidad de las tiendas en línea.</li>
      <li>Utilicé tecnologías como Jira, Asana y Notion para gestionar de manera eficiente el seguimiento de proyectos, asignación de tareas y comunicación con los project managers, optimizando la visibilidad y gestión de procesos.</li>
      <li>Supervisé la personalización de interfaces y funcionalidades, asegurando que la experiencia de usuario fuera intuitiva y efectiva en todas las plataformas.</li>
      <li>Implementé integraciones con sistemas externos y colaboré con los equipos de diseño y marketing para alinear las funcionalidades con los objetivos de negocio.</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Fullstack Magento 1 y 2"
      subtitle="De Agosto 2016 a Octubre 2021 en Neztsleep, Sofamatch, CDMX"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2 text-sm">
      <li>Implementé y personalicé módulos y extensiones de Magento para optimizar funcionalidades específicas y mejorar la experiencia del usuario.</li>
      <li>Lideré y gestioné la transición de tiendas en línea de Magento 1 a Magento 2, supervisando la transferencia de datos, la compatibilidad de extensiones y la implementación de nuevas funcionalidades.</li>
      <li>Realicé integraciones con sistemas externos como pasarelas de pago, ERP y plataformas de envío, garantizando una comunicación fluida entre las diferentes herramientas.</li>
      <li>Trabajé con tecnologías front-end como HTML5, CSS3 y JavaScript, asegurando la compatibilidad multi-navegador y una experiencia responsive.</li>
      <li>Adapté diseños estáticos a versiones web interactivas, garantizando que la visualización y funcionalidad fueran consistentes en todos los dispositivos.</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Desarrollador web"
      subtitle="De Agosto 2010 a Julio 2016 en Asolounclick, CDMX"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2 text-sm">
      <li>Diseñé y desarrollé sitios web y tiendas en línea utilizando CMS como Joomla, WordPress y PrestaShop.</li>
      <li>Implementé personalizaciones de temas y plugins para satisfacer las necesidades del cliente.</li>
      <li>Optimizé el rendimiento y la seguridad de sitios web, aplicando prácticas de desarrollo y estándares de la época.</li>
      <li>Colaboré en la integración de herramientas de análisis y seguimiento para mejorar la experiencia del usuario y el posicionamiento SEO.</li>
      <li>Trabajé con tecnologías front-end como HTML5, CSS3 y JavaScript, asegurando la compatibilidad multi-navegador y una experiencia responsive.</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Freelancer Magento 2"
      subtitle="De Agosto 2015 a Actual en GDW, Edo Méx"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2 text-sm">
      <li>He trabajado en el desarrollo y personalización de tiendas en línea con Magento 2, ofreciendo soluciones a medida que potencian la funcionalidad y escalabilidad de los sitios de e-commerce.</li>
      <li>He gestionado la migración de sitios desde Magento 1 a Magento 2, garantizando una transición fluida y la continuidad de las operaciones comerciales sin interrupciones.</li>
      <li>Ofrezco soporte técnico post-lanzamiento y mantenimiento continuo, incluyendo actualizaciones de seguridad y mejoras de rendimiento.</li>
      <li>Utilizo metodologías ágiles para gestionar múltiples proyectos en paralelo, asegurando la entrega puntual y la satisfacción del cliente.</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/1886525f-36b8-49e3-8c80-d4a18bba5014/linked_in_profil" target="_blank"> Adobe Certified Professional — Adobe Commerce Developer</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Magento</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>


</BaseLayout>
